extends layout

block content
    h1= title
    form#formAddOrder(name="addorder",method="post",action="/addorder")
        input#inputCustomerId(type="text", placeholder="customer id", name="customer_id")
        br
        input#inputOrderNo(type="text", placeholder="order number", name="order_no")
        br
        input#inputProductName(type="text", placeholder="product name", name="product_name")
        br
        input#inputManfName(type="text", placeholder="manufacturer name", name="manf_name")
        br
        input#inputQuantity(type="text", placeholder="quantity", name="quantity")
        br
        input#inputOrderDate(type="text", placeholder="order date", name="order_date")
        br
        input#inputCustomerName(type="text", placeholder="customer name", name="customer_name")
        br
        input#inputDoB(type="text", placeholder="date of birth", name="dob")
        br
        input#inputZip(type="text", placeholder="zip", name="zip")
        br
        input#inputState(type="text", placeholder="state", name="state")
        br
        input#inputCity(type="text", placeholder="city", name="city")
        br
        input#inputStreet(type="text", placeholder="street", name="street")
        br
        input#inputHouseNo(type="text", placeholder="house number", name="house_no")
        br
        input#inputCustomerEmail(type="text", placeholder="customer email", name="customer_email")
        br

        button#btnSubmit(type="submit") submit